# Data
data/*.csv

# Models
models/*.joblib
models/*.csv

# Reports
reports/*.png

# Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/
*.egg-info/
build/
dist/

# Logs
logs/

# OS
.DS_Store
Thumbs.db
nul

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Allow scripts and config
data/brfss.zip
